.calendar-view-wrapper {
  padding: 10px;
}
.calendar-view {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  min-height: 600px;
  height: 800px;
  min-width: 600px;
  max-width: 1280px;
  width: 80%;
  background: #fff;
  border: 2px solid #dfdfdf;
}

.left-col {
  display: table-cell;
  height: 800px;
  min-width: 150px;
  max-width: 250px;
  width: 25%;
  vertical-align: top;
  border-right: 2px solid #dfdfdf;
}

.right-col {
  display: table-cell;
  height: 800px;
  min-width: 650px;
  max-width: 1030px;
  width: 100%;
  vertical-align: top;
  background: #fff;
}

/* left column elements */

.user-list-wrapper {
  height: inherit;
}

.user-list-filter {
  height: 120px;
  border-bottom: 2px solid #dfdfdf;
  text-align: center;
}

.user-list {
  display: block;
  width: 110%;
  max-height:666px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-list .grid-cell {
  width: 100%;
}

/* right column elements */

.calendar-controls-wrapper {
  display: block;
  height: 120px;
  position: relative;
  border-bottom: 2px solid #dfdfdf;
  overflow: hidden;
}

/* controls components */

.controls-row {
  height: 70px;
}

.dates-row {
  display: flex;
  position: relative;
  left: 0;
}

.dates-row .grid-row {
  height: 25px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: lighter;
  color: #afafaf;
  border: none;
}

.dates-row .grid-cell {
  border: none;
  align-items: bottom;
}

.date-data-cell {
  width:100%;
}

/* calendar-grid components */

.calendar-grid {
  display: block;
  width:100%;
  min-height: 300px; /* cellHeight * minVisibleRowsCount */
  height: 680px;
  // background: #fff;

  overflow: hidden;
}

.grid-body {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.events-list-column {
  display: flex;
  flex-flow: row wrap;
}

.grid-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  width: auto;
  min-width: inherit;
  min-height: 70px;

  border-bottom: 1px solid #dfdfdf;

}

.grid-cell {
  // border-top: 1px solid #dfdfdf;
  // border-right: 1px solid #dfdfdf;

  min-width: 90px;
  height: auto;
  display: flex;

  align-items: center;

  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}

.events-list-column .grid-cell {
  width: 90px;
}

.events-list-column .grid-cell:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.user-data-cell {
  padding-left: 10px;
}

.incell-event-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 88px;
  height: 66px;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #fff;
  // border: 1px solid red;
}

.incell-event-list > div {
  display: flex;
  align-items: center;
  height: 100%;
  // line-height: 50px;
  padding: 0 4px;
}
